{% extends "webapp/base.html" %}

{% block content %}

<div class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <form action="{% url 'add' %}">
                <div class="form-group">
                  <label for="first">Topic</label>
                  <input type="text" class="form-control" name="topic" placeholder="Enter Topic">
                </div>
                <div class="form-group">
                  <label for="last">Body</label>
                  <textarea class="form-control" name="topic_body" rows="3"></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}